In [ ]:
continuation to list datatype:

In [ ]:
organizing list datatypes:

In [1]:
cars =['bmw','audi','benz','toyota','tata','suzuki']

In [2]:
print (cars)

['bmw', 'audi', 'benz', 'toyota', 'tata', 'suzuki']

In [3]:
type(cars)

list

In [ ]:
# to arrange list in alpabetical order:
there are 2 approaches:
1. temporary ---- sorted method ----- orginial order is retained
2. permament ------ sort method

In [6]:
print (sorted (cars))

['audi', 'benz', 'bmw', 'suzuki', 'tata', 'toyota']

In [8]:
print (cars)  # original order

['bmw', 'audi', 'benz', 'toyota', 'tata', 'suzuki']

In [9]:
cars.sort()

In [10]:
print (cars)

['audi', 'benz', 'bmw', 'suzuki', 'tata', 'toyota']

In [11]:
print (cars)

['audi', 'benz', 'bmw', 'suzuki', 'tata', 'toyota']

In [ ]:
Difference between sort and sorted method in list datatype :
sort changes the order permenantly
sorted changes the order only for run time.. not permenant

In [12]:
len (cars) # count no of elements in list

6

In [14]:
cars.reverse() # print list in reverse order
print (cars)

['audi', 'benz', 'bmw', 'suzuki', 'tata', 'toyota']

In [ ]:
Introducction to slicing:

In [16]:
students = ['alice','angel','bob','carlie','darwin','else']
print (students)

['alice', 'angel', 'bob', 'carlie', 'darwin', 'else']

In [ ]:
# general syntax for slicing -----> [start_value:stop_value:step_count]
# note: stop is always exclusive, to include the stop value increment index by +1

In [17]:
print (students[0:1])  # 1st value will be displayed

['alice']

In [18]:
print (students[0:2])  # 2 values will be displayed

['alice', 'angel']

In [19]:
print (students[2:4])  # bob and carlie

['bob', 'carlie']

In [21]:
print (students[0:7:2])  # alternate value will be displayed as step_count is 2 assigned

['alice', 'bob', 'darwin']

In [22]:
print (students)

['alice', 'angel', 'bob', 'carlie', 'darwin', 'else']

In [ ]:
Introduction to tuple datatype:
Definition : An immutable list is called tuple
classification : it is classified as immutable datatype
to define tuple - use --> ()

In [24]:
dimension =(10,20)
print (dimension)

(10, 20)

In [25]:
type(dimension)

tuple

In [27]:
 dimension [0] = 30   # try to modify value for index [0] , it will throw error as it is immutable

TypeError: 'tuple' object does not support item assignment

In [28]:
print (dimension[1])

20