In [ ]:
Introduction to numbers:

In [1]:
number = 123
print (number)

123

In [2]:
type(number)

int

In [3]:
num2 = 0.1
print (num2)

0.1

In [4]:
type(num2)

float

In [ ]:
Introduction to list dataype:
definition :  A list is a collection of items defined in a particular order
classification : it is classfied as mutable datatype, which we can edit/alter

In [ ]:
how to define list data type: []  # square brackets

In [10]:
students = ['alice','bob','charlie','darwin','elsa']

In [11]:
print (students)

['alice', 'bob', 'charlie', 'darwin', 'elsa']

In [12]:
type (students)

list

In [ ]:
Introduction to indexing:
0,1,2,3,4,.......

In [13]:
# print Bob
print (students[1])

bob

In [14]:
print (students[1].title())

Bob

In [16]:
 # print darwin
print (students[3])

darwin

In [17]:
print (students[3].title())

Darwin

In [ ]:
To add new elements in the list:

In [18]:
print (students)

['alice', 'bob', 'charlie', 'darwin', 'elsa']

In [19]:
# add john in the list
students.append ('john')
print (students)

['alice', 'bob', 'charlie', 'darwin', 'elsa', 'john']

In [20]:
# add Mary in the list
students.append ('mary')
print (students)

['alice', 'bob', 'charlie', 'darwin', 'elsa', 'john', 'mary']

In [21]:
# to add Kattie at 2nd index position
students.insert (2,'kattie')
print (students)

['alice', 'bob', 'kattie', 'charlie', 'darwin', 'elsa', 'john', 'mary']

In [22]:
print (students [2])

kattie

In [ ]:
What is the difference between append and insert methods in a list dataype:
append add elements at the end of the list
insert add elements at the specified index position

In [ ]:
To modify bob name and replace with Sam in the list:

In [23]:
students [1]  = 'sam'
print (students)

['alice', 'sam', 'kattie', 'charlie', 'darwin', 'elsa', 'john', 'mary']

In [ ]:
To delete charlie name from the list:

In [24]:
del (students[3])
print (students)

['alice', 'sam', 'kattie', 'darwin', 'elsa', 'john', 'mary']