In [ ]:
Introduction to Python fundamentals

In [ ]:
understanding the variables in python

In [2]:
x = 2
y =3

In [6]:
z = x+ y
print (z)

5

In [ ]:
Rules for declaring the variables in python:

In [ ]:
Rule 1 : no namespaces while declaring the variables names in python

In [7]:
first name = 'Masarrath'
print (first name)

SyntaxError: invalid syntax (3483849208.py, line 1)

In [8]:
firstname = 'Masarrath'
print (firstname)

Masarrath

In [ ]:
Rule 2: A variable name should not start with a number

In [9]:
1name = 'abc'
print (1name)

SyntaxError: invalid decimal literal (174495292.py, line 1)

In [12]:
name1 = 'abc'
print (name1)

abc

Rule 3: a variable name should not contain special character
!@#$%^&*

In [13]:
name@ = 'www'
print (name@)

SyntaxError: invalid syntax (3753139134.py, line 1)

In [ ]:
Introduction to Data Types in Python:

In [ ]:
1. strings - str
2. Numbers - intergers - int , floats - float (decimal -0.1,0.2)
3. lists - list
4. tuples - tuple
5. dictionaries - dict

In [ ]:
note : python is case sensitive programming language

In [ ]:
Classification of DataTypes in python:

In [ ]:
1. mutable datatypes - which we can edit/alter- flexible in nature
2. immutable datatypes - which we cannot edit- fixed in nature

In [ ]:
Introduction to String datatype:
definition:  A string is a series of characters decalred in quotes.
classification: It is classfied as immutable datatype.
To declare-- 2 methods:
1. single quote
2. Double quote

In [14]:
name ='john' # single quote
print (name)

john

In [15]:
name2 ="Alice" # doublequote
print (name2)

Alice

In [ ]:
Introduction to String methods:

In [16]:
type(name)

str

In [17]:
type(name2)

str

In [19]:
fullname = 'alice elsa'
print (fullname)

alice elsa

In [20]:
print (fullname.title()) # to correct format

Alice Elsa

In [21]:
print (fullname.upper()) # in uppercase

ALICE ELSA

In [22]:
print (fullname.lower()) # to lowercase

alice elsa